{% extends "accounts/base.html" %}

{% block content %}
<style>

    body{
        background-color:rgb(228, 248, 240);
    }
    nav {
        overflow: hidden;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    nav a {
        display: inline-block;
        color: rgb(91, 90, 90);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-weight: bold;
    }
    nav a:hover {
        background-color: #E7EEEE;
        color: rgb(65, 64, 64);
    }
    nav a + a {
        margin-left: 40px; /*메뉴바 사이 간격*/
    }
    .container {
        margin: 0 auto;
        max-width: 800px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    ul, li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .board_wrap {
        width: 100%%;
        margin: 80px 100px;
        text-align:center;
    }

    .board_title {
        margin-bottom: 30px;
        text-align:center;
    }

    .board_title strong {
        font-size: 40px;
    }

    .bt_wrap {
        margin-top: 30px;
        text-align: center;
        font-size: 0;
    }

    .bt_wrap a {
        display: inline-block;
        min-width: 60px;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 15px;
    }

    .bt_wrap a:first-child {
        margin-left: 0;
    }

    .bt_wrap a.on {
        background: #000;
        color: #fff;
    }

    .board_write {
        border-top: 2px solid rgb(42, 178, 144);
    }

    .board_write_wrap {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .board_write .title,
    .board_write .info {
        padding: 15px;
    }

    .board_write .info {
        border-bottom: 1px solid  rgb(42, 178, 144);
        font-size: 0;
    }

    .board_write .title dl {
        font-size: 0;
    }

    .board_write .info dl {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }

    .board_write .title dt,
    .board_write .title dd,
    .board_write .info dt,
    .board_write .info dd {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.4rem;
    }

    .board_write .title dt,
    .board_write .info dt {
        width: 100px;
    }

    .board_write .title dd {
        width: calc(100% - 100px);
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        padding: 10px;
        box-sizing: border-box;
    }

    .board_write .title input[type="text"] {
        width: 80%;
    }

    .board_write .cont {
        border-bottom: 1px solid #000;
    }

    .board_write .cont textarea {
        display: block;
        width: 100%;
        height: 300px;
        padding: 15px;
        box-sizing: border-box;
        border: 0;
        resize: vertical;
    }

    @media (max-width: 1000px) {
        .board_wrap {
            width: 100%;
            min-width: 320px;
            padding: 0 30px;
            box-sizing: border-box;
        }

        .board_list .num,
        .board_list .writer,
        .board_list .count {
                display: none;
        }

        .board_list .date {
            width: 40%;
        }

        .board_list .title {
            text-indent: 10px;
        }

        .board_list .top .title {
            text-indent: 0;
        }

        .board_page a {
            width: 26px;
            height: 26px;
        }

        .board_page a.bt {
            padding-top: 7px;
        }
            
        .board_page a.num {
            padding-top: 6px;
        }

        .board_view .info dl {
            width: 50%;
            padding: 0;
        }

        .board_view .info dl:nth-child(-n+2) {
            margin-bottom: 5px;
        }

        .board_view .info dl::before {
            display: none;
        }
    }
    </style>

    <div class="container">
        <nav>
            <a href="{% url 'accounts:home' %}">메인화면</a>
            <a href="{% url 'accounts:list' %}">강서소식</a>
            <a href="{% url 'accounts:guide' %}">분리배출 가이드</a>
            <a href="{% url 'accounts:trash' %}">쓰레기 수거 정보</a>
            <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        </nav>
    </div>

    <div class="board_wrap">
        <div class="board_title">
            <strong>게시글 수정</strong>
        </div>
        <div class="board_write_wrap">
        <form action="{% url 'accounts:edit' accountt.number %}" method="POST">
            {% csrf_token %}
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <input type="text" name="title" id="title" placeholder="제목 입력" value="">
                    </dl>

                </div>
                <div class="info">
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><input type="text" placeholder="글쓴이 입력" value=""></dd>
                    </dl>
                    <dl>
                        <dt>비밀번호</dt>
                        <dd><input type="password" placeholder="비밀번호 입력" value=""></dd>
                    </dl>
                </div>
                <div class="cont">
                    <dl>
                        <dd>
                        <textarea name="content" id="content" placeholder="내용 입력" value="{{accountt.content}}"></textarea>
                        </dd>
                        </dl>
                </div>
            
            </div>
        
        </div>
        <div class="bt_wrap">            
            <input type="submit" value="수정">
            <a href="{% url 'accounts:list' %}">취소</a>
        </div>
    </form>
    </div>
{% endblock content %}
