{% extends "accounts/base.html" %}

{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background: rgb(228, 248, 240);
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* 사진 위에 나타나도록 설정 */
        padding: 5px 0; /* 메뉴바와 사진 사이의 간격 */
        text-align:center;
    }
    
    nav a {
        display: inline-block;
        color: rgb(91, 90, 90);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-weight: bold;
    }
    nav a:hover {
        background-color: #E7EEEE;
        color: rgb(65, 64, 64);
    }
    nav a + a {
        margin-left: 40px; /*메뉴바 사이 간격*/
    }
    .container {
        margin: 0 auto;
        max-width: 800px;
    }


    .menu-container {
        position: relative;
    }
    .image-container {
        display: flex;
        justify-content: center;
    }
    .image-container img {
        width: 100%;
        height: 300px;
        opacity: 0.2;
    }
   
    .board_wrap {
        width: 1000px;
        margin: 10px auto;
        background-color: rgb(228, 248, 240);
        padding: 20px;
        border-radius: 10px;
        
    }
    .news_wrap {
        width: 1000px;
        margin: -30px auto 10px; /* 기존 margin값과 조정 */
        background-color: rgb(42, 178, 144);
        padding: 20px;
        border-radius: 10px;
        position: relative;
        z-index;
    }
    .board_title {
        text-align: center;
    }
        
    .board_title strong {
        font-size: 30px;
        text-align: center;
    }
    .board_title p {
        font-size: 20px;
        text-align: center;
        color:rgb(65, 64, 64);
    }
    .board_list_wrap {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .board_list {
        width: 100%;
        border-top: 2px solid rgb(42, 178, 144);
    }
    .board_list > div {
        border-bottom: 1px solid rgb(42, 178, 144);
        font-size: 0;
    }
    .board_list > div.top {
        border-bottom: 1px solid rgb(42, 178, 144);
    }
    .board_list > div:last-child {
        border-bottom: 1px solid rgb(42, 178, 144);
    }
    .board_list > div > div {
        display: inline-block;
        padding: 15px 0;
        text-align: center;
        font-size: 20px;
    }
    .board_list .num {
        width: 10%;
    }
    .board_list .title {
        width: 60%;
        text-align: left;
    }
    .board_list .top .title {
        text-align: center;
    }
    .board_list .writer {
        width: 10%;
    }
    .board_list .date {
        width: 10%;
    }
    .board_list .count {
        width: 10%;
    }
    .board_page {
        margin-top: 30px;
        text-align: center;
        font-size:0;
    }
    .board_page a {
        display: inline-block;
        width: 28px;
        height: 28px;
        box-sizing: border-box;
        vertical-align: middle;
        border: 1px solid #ddd;
        border-left: 0;
        line-height: 100%;
        text-decoration:none;
        color:black;
    }
    .board_page a.bt {
        padding-top: 10px;
        font-size: 18px;
        letter-spacing: -1px;
    }
    .board_page a.num {
        padding-top: 9px;
        font-size: 18px;
    }
    .board_page a.num.on {
        border-color: #000;
        background: #000;
        color: #fff;
    }
    .board_page a:first-child {
        border-left: 1px solid #ddd;
    }
    .bt_wrap {
        margin-top: 30px;
        text-align: center;
        font-size: 0;
    }
    .bt_wrap a {
        display: inline-block;
        min-width: 70px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 20px;
        text-decoration:none;
    }
    .bt_wrap a:first-child {
        margin-left: 0;
    }
    .bt_wrap a.on {
        background: #000;
        color: #fff;
    }
            
    .menu-container {
        position: relative; 
    }
  
</style>
<div class="container">
    <nav>
        <a href="{% url 'accounts:home' %}">메인화면</a>
        <a href="{% url 'accounts:list' %}">강서소식</a>
        <a href="{% url 'accounts:guide' %}">분리배출 가이드</a>
        <a href="{% url 'accounts:trash' %}">쓰레기 수거 정보</a>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    </nav>
</div>

<div class="image-container">
    <img src='https://ifh.cc/g/g8Hmrt.jpg' border='0'>
    <div class="image-overlay"></div>
</div>
<div class="news_wrap">
    <div class="board_title">
        <strong>강서 소식</strong>
    </div>
</div>
<div class="board_wrap">
    <div class="board_title">
        <p>강서구 환경 관련 소식을 전해드립니다.</p>
    </div>
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="writer">글쓴이</div>
                <div class="date">작성일</div>
                <div class="count">조회</div>
            </div>
            {% for accountt in account_list %}
            <div>
                <div class="num">{{ accountt.number }}</div>
                <div class="title"><a href="{% url 'accounts:detail' pk=accountt.number %}">{{ accountt.title }}</a></div>
                <div class="writer">{{ accountt.writer }}</div>
                <div class="date">{{ accountt.days }}</div>
                <div class="count">{{ accountt.count }}</div>
            </div>
            {% endfor %}
        </div>
    
    <div class="board_page">
        <a href="#" class="bt first"> << </a>
        <a href="#" class="bt prev"> < </a>
        <a href="#" class="num on">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="num">5</a>
        <a href="#" class="bt next">></a>
        <a href="#" class="bt last">>></a>
    </div>
    </div>
    <div class="bt_wrap">
        <a href="{% url 'accounts:create' %}" class="on">등록</a>
    </div>
</div>
{% endblock content %}
