{% extends "accounts/base.html" %}

{% block content %}
<style>
    body{
        background-color:rgb(228, 248, 240);
    }
    nav {
        overflow: hidden;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    nav a {
        display: inline-block;
        color: rgb(91, 90, 90);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-weight: bold;
    }
    nav a:hover {
        background-color: #E7EEEE;
        color: rgb(65, 64, 64);
    }
    nav a + a {
        margin-left: 40px; /*메뉴바 사이 간격*/
    }
    .container {
        margin: 0 auto;
        max-width: 800px;
    }

    * {
        margin: 0;
        padding: 0;
    }
    ul, li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .board_wrap {
        width: 100%%;
        margin: 80px 100px;
        text-align:center;
    }

    .board_title {
        margin-bottom: 30px;
        text-align:center;
    }


    .board_title strong {
        font-size: 40px;
    }

    .board_write_wrap {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .board_write {
        border-top: 2px solid rgb(42, 178, 144);
    }

    .board_write .title,
    .board_write .info {
        padding: 15px;
    }

    .board_write .info {
        border-bottom: 1px solid rgb(42, 178, 144);
        font-size: 0;
    }

    .board_write .title dl {
        font-size: 0;
    }

    .board_write .info dl {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }

    .board_write .title dt,
    .board_write .title dd,
    .board_write .info dt,
    .board_write .info dd {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.4rem;
    }

    .board_write .title dt,
    .board_write .info dt {
        width: 100px;
    }

    .board_write .title dd {
        width: calc(100% - 100px);
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        padding: 10px;
        box-sizing: border-box;
        width: 80%;
    }

    .board_write .cont {
        border-bottom: 1px solid rgb(42, 178, 144);
    }

    .board_write .cont textarea {
        display: block;
        width: 100%;
        height: 300px;
        padding: 15px;
        box-sizing: border-box;
        border: 0;
        resize: vertical;
    }

    .bt_wrap {
        margin-top: 30px;
        text-align: center;
        font-size: 0;
    }

    .bt_wrap a {
        display: inline-block;
        min-width: 60px;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 15px;
    }
    .bt_wrap input {
        display: inline-block;
        min-width: 80px;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color:black;
        color:white;
        font-size: 15px;
    }


    .bt_wrap a:first-child {
        margin-left: 0;
    }

    .bt_wrap a.on {
        background: #000;
        color: #fff;
    }
    .bottom-box {
        border: 1px solid rgb(42, 178, 144);
        border-radius:10px;
        padding: 20px;
        width: 30%; /*페이지에 맞게 조절*/
        height: 90px;
        bottom: 0;
        margin: auto;
        position: relative;
        background-color:white;
    }
    .h1 {
       font-size: 7px;
       margin-left: 20px;
       margin-top: -10px;
    }
    .p_comment {
      font-size: 15px;
      margin-top: 19px;
    }
    .p_count {
      font-size: 15px;
    }
    .p_share {
      font-size: 15px;
    }
    .button1 {
    position: absolute; /* 부모 요소에 상대적으로 절대 위치 설정 */
    bottom: 65px; /* bottom-box의 하단에 맞춤 */
    right: 15px; /* bottom-box의 오른쪽에 맞춤 */
    bottom: 75px; 
    }
    .button1 button:first-child {
    border: 1.5px solid black; /* 초록색 테두리 */
    }
    .button1 button:last-child {
    border: 1.5px solid black; /* 검은색 테두리 추가 */
    }
    .button2 {
    position: absolute; /* 부모 요소에 상대적으로 절대 위치 설정 */
    bottom: 50px; /* bottom-box의 하단에 맞춤 */
    right: 15px; /* bottom-box의 오른쪽에 맞춤 */
    }
    .button2 button:first-child {
    border: 1.5px solid black; /* 초록색 테두리 */
    
    }
    .button2 button:last-child {
    border: 1.5px solid black; /* 검은색 테두리 추가 */
    }
    .button3 {
    position: absolute;
    bottom: 25px;
    right: 15px;
    }
    .button3 button:first-child {
    border: 1.5px solid black; /* 초록색 테두리 */
    }
    .button3 button:last-child {
    border: 1.5px solid black; /* 검은색 테두리 추가 */
    }
</style>

<div class="container">
    <nav>
        <a href="{% url 'accounts:home' %}">메인화면</a>
        <a href="{% url 'accounts:list' %}">강서소식</a>
        <a href="{% url 'accounts:guide' %}">분리배출 가이드</a>
        <a href="{% url 'accounts:trash' %}">쓰레기 수거 정보</a>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    </nav>
</div>

<div class="board_wrap">
    <div class="board_title">
        <strong>소식 작성</strong>
    </div>

    <div class="board_write_wrap"> 
    <div class="board_write">
        <form action="{% url 'accounts:create' %}" method="POST">  
            {% csrf_token %}
            <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <input type="text" name="title" id="title" placeholder="제목 입력" value="">
                    </dl>
            </div>
            <div class="info">
                <dl>
                    <dt>글쓴이</dt>
                    <dd><input type="text" name="content" id="content" placeholder="글쓴이 입력"></dd>
                </dl>
                <dl>
                    <dt>비밀번호</dt>
                    <dd><input type="password" placeholder="비밀번호 입력"></dd>
                </dl>
            </div>
            <div class="cont">
                <textarea placeholder="내용 입력"></textarea>
            </div>

            <div class="write1">
                <details><div class="bottom-box">
                    <div class="h1">
                      <div class="p1">
                          <h1>글쓰기 설정</h1>
                          <div>
                            <p class="p_comment">댓글 허용</p>
                            <p class="p_count">조회수 표시</p>
                            <p class="p_share">외부 공유 허용</p>
                          </div>
                      </div>
                    <div style="text-align:right" class="button1">
                      <button>허용</button>
                      <button>허용 안함</button>
                    </div>
                    <div style="text-align:right" class="button2">
                      <button >허용</button>
                      <button>허용 안함</button>
                    </div>
                    <div style="text-align:right" class="button3">
                      <button >허용</button>
                      <button>허용 안함</button>
                    </div>
                  </div>
                </div>

                
                    <summary>접기/펼치기</summary>
                   
                </details>
            </div>
            <div class="bt_wrap">
                <input type="submit" value="등록">
                <a href="{% url 'accounts:list' %}">취소</a>
            </div>
        </form>
        </div>
  
</div>
</div>

{% endblock content %}